*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}


#container{

    color: white;
    font-family: "Outfit", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 160px;
    align-items: center;
    background: #F5F5F5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    height: 40px;
}

.home{
    color: black;
    font-size: 26px;
    font-family: "Outfit", sans-serif;;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.77) 0%, rgba(102, 102, 102, 0.77) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
    line-height: normal;
}

.home2{
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #1069EF;
}

.about{
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #1069EF;
}   

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

footer{
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 15px;
    padding: 5px;
    bottom: 0;
}

.privacy{
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #1069EF;
    
}

.line{
    width: 1px;
    height: 15px;
    background: black;
}

.terms{
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #1069EF;
}

@media only screen and (max-width: 480px) {
    nav {
        justify-content: space-between;
        display: flex;
        padding: 5px 40px;
        align-items: center;
        background: #F5F5F5;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        }
    .home {
        font-size: 20px;
        }
    }

    @media only screen and (max-width: 320px) {
        nav {
            justify-content: space-between;
            display: flex;
            padding: 5px 40px;
            align-items: center;
            background: #F5F5F5;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        }
        .home {
            font-size: 20px;
        }
        }
   
